name: Build and test

on:
  pull_request:
  push:

jobs:
  crossbuild-mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: DeterminateSystems/magic-nix-cache-action@v11
      - run: nix develop --command make crossbuild_mac
      - run: nix develop --command make crossbuild_mac_bundles
